USE [master]
GO
/****** Object:  Database [EFTest]    Script Date: 2019/12/22 6:56:58 ******/
CREATE DATABASE [EFTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EFTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EFTest.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EFTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EFTest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFTest]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StuNo] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[DeleteDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Classes]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Classes](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_T_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Classes_008]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Classes_008](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[CreatingDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.T_Classes_008] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Nations_008]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Nations_008](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CreatingDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.T_Nations_008] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Persons]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Persons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDateTime] [datetime] NULL,
	[Age] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Persons2]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Persons2](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_dbo.T_Persons2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Students]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Students](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[ClassId] [bigint] NOT NULL,
 CONSTRAINT [PK_T_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Students_008]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Students_008](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Age] [int] NOT NULL,
	[ClassId] [bigint] NOT NULL,
	[NationId] [bigint] NOT NULL,
	[CreatingDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.T_Students_008] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Students2]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Students2](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.T_Students2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Teachers2]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Teachers2](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.T_Teachers2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_TeachersStudentRelations]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TeachersStudentRelations](
	[TeacherId] [bigint] NOT NULL,
	[StudentId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.T_TeachersStudentRelations] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 2019/12/22 6:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Level] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[DeleteDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [StuNo], [Name], [Age], [IsDeleted], [CreateDateTime], [DeleteDateTime]) VALUES (1, N'1317417001', N'张三', 15, 0, CAST(N'2019-12-21 22:43:01.160' AS DateTime), NULL)
INSERT [dbo].[Students] ([Id], [StuNo], [Name], [Age], [IsDeleted], [CreateDateTime], [DeleteDateTime]) VALUES (2, N'1317417002', N'李四', 15, 0, CAST(N'2019-12-21 22:43:01.160' AS DateTime), NULL)
INSERT [dbo].[Students] ([Id], [StuNo], [Name], [Age], [IsDeleted], [CreateDateTime], [DeleteDateTime]) VALUES (3, N'1317417003', N'王五', 15, 0, CAST(N'2019-12-21 22:43:01.160' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[T_Classes] ON 

INSERT [dbo].[T_Classes] ([Id], [Name]) VALUES (11, N'三年级一班')
INSERT [dbo].[T_Classes] ([Id], [Name]) VALUES (12, N'三年级二班')
SET IDENTITY_INSERT [dbo].[T_Classes] OFF
SET IDENTITY_INSERT [dbo].[T_Classes_008] ON 

INSERT [dbo].[T_Classes_008] ([Id], [Name], [Address], [CreatingDateTime]) VALUES (1, N'三年级二班', N'1-302', CAST(N'2019-12-22 05:25:10.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[T_Classes_008] OFF
SET IDENTITY_INSERT [dbo].[T_Nations_008] ON 

INSERT [dbo].[T_Nations_008] ([Id], [Name], [CreatingDateTime]) VALUES (1, N'汉', CAST(N'2019-12-22 04:45:36.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[T_Nations_008] OFF
SET IDENTITY_INSERT [dbo].[T_Persons] ON 

INSERT [dbo].[T_Persons] ([Id], [Name], [CreateDateTime], [Age]) VALUES (1, N'shanzm1', CAST(N'2019-12-14 06:04:03.100' AS DateTime), 25)
INSERT [dbo].[T_Persons] ([Id], [Name], [CreateDateTime], [Age]) VALUES (3, N'shanzm2', CAST(N'2019-12-14 06:39:31.317' AS DateTime), 25)
INSERT [dbo].[T_Persons] ([Id], [Name], [CreateDateTime], [Age]) VALUES (4, N'shanzm3', CAST(N'2019-12-14 07:28:04.417' AS DateTime), 25)
SET IDENTITY_INSERT [dbo].[T_Persons] OFF
SET IDENTITY_INSERT [dbo].[T_Persons2] ON 

INSERT [dbo].[T_Persons2] ([Id], [Name], [CreateDateTime], [Age]) VALUES (3, N'mayy', CAST(N'2019-12-09 01:23:46.603' AS DateTime), 60)
INSERT [dbo].[T_Persons2] ([Id], [Name], [CreateDateTime], [Age]) VALUES (4, N'mayy', CAST(N'2019-12-09 01:37:19.747' AS DateTime), 60)
INSERT [dbo].[T_Persons2] ([Id], [Name], [CreateDateTime], [Age]) VALUES (5, N'mayy', CAST(N'2019-12-09 01:37:52.500' AS DateTime), 60)
SET IDENTITY_INSERT [dbo].[T_Persons2] OFF
SET IDENTITY_INSERT [dbo].[T_Students] ON 

INSERT [dbo].[T_Students] ([Id], [Name], [Age], [ClassId]) VALUES (1, N'单志铭', 18, 11)
INSERT [dbo].[T_Students] ([Id], [Name], [Age], [ClassId]) VALUES (2, N'单志铭2', 18, 12)
INSERT [dbo].[T_Students] ([Id], [Name], [Age], [ClassId]) VALUES (3, N'张三', 11, 11)
SET IDENTITY_INSERT [dbo].[T_Students] OFF
SET IDENTITY_INSERT [dbo].[T_Students_008] ON 

INSERT [dbo].[T_Students_008] ([Id], [Name], [Age], [ClassId], [NationId], [CreatingDateTime]) VALUES (1, N'张三', 25, 1, 1, CAST(N'2019-12-22 05:26:13.000' AS DateTime))
INSERT [dbo].[T_Students_008] ([Id], [Name], [Age], [ClassId], [NationId], [CreatingDateTime]) VALUES (2, N'李四', 26, 1, 1, CAST(N'2019-12-22 05:27:37.000' AS DateTime))
INSERT [dbo].[T_Students_008] ([Id], [Name], [Age], [ClassId], [NationId], [CreatingDateTime]) VALUES (4, N'王五', 27, 1, 1, CAST(N'2019-12-22 05:42:49.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[T_Students_008] OFF
SET IDENTITY_INSERT [dbo].[T_Students2] ON 

INSERT [dbo].[T_Students2] ([Id], [Name]) VALUES (1, N'张三')
INSERT [dbo].[T_Students2] ([Id], [Name]) VALUES (2, N'李四')
INSERT [dbo].[T_Students2] ([Id], [Name]) VALUES (3, N'王五')
SET IDENTITY_INSERT [dbo].[T_Students2] OFF
SET IDENTITY_INSERT [dbo].[T_Teachers2] ON 

INSERT [dbo].[T_Teachers2] ([Id], [Name]) VALUES (1, N'王老师')
INSERT [dbo].[T_Teachers2] ([Id], [Name]) VALUES (2, N'赵老师')
SET IDENTITY_INSERT [dbo].[T_Teachers2] OFF
INSERT [dbo].[T_TeachersStudentRelations] ([TeacherId], [StudentId]) VALUES (1, 1)
INSERT [dbo].[T_TeachersStudentRelations] ([TeacherId], [StudentId]) VALUES (1, 2)
INSERT [dbo].[T_TeachersStudentRelations] ([TeacherId], [StudentId]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [Salary], [Level], [Name], [Age], [IsDeleted], [CreateDateTime], [DeleteDateTime]) VALUES (1, CAST(10000.00 AS Decimal(18, 2)), 2, N'赵老师', 21, 0, CAST(N'2019-12-21 22:43:00.357' AS DateTime), CAST(N'2019-12-21 23:17:31.780' AS DateTime))
INSERT [dbo].[Teachers] ([Id], [Salary], [Level], [Name], [Age], [IsDeleted], [CreateDateTime], [DeleteDateTime]) VALUES (2, CAST(30000.00 AS Decimal(18, 2)), 3, N'钱老师', 22, 0, CAST(N'2019-12-21 22:43:01.147' AS DateTime), NULL)
INSERT [dbo].[Teachers] ([Id], [Salary], [Level], [Name], [Age], [IsDeleted], [CreateDateTime], [DeleteDateTime]) VALUES (3, CAST(30000.00 AS Decimal(18, 2)), 3, N'孙老师', 23, 0, CAST(N'2019-12-21 22:43:01.160' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
/****** Object:  Index [IX_ClassId]    Script Date: 2019/12/22 6:56:58 ******/
CREATE NONCLUSTERED INDEX [IX_ClassId] ON [dbo].[T_Students_008]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_NationId]    Script Date: 2019/12/22 6:56:58 ******/
CREATE NONCLUSTERED INDEX [IX_NationId] ON [dbo].[T_Students_008]
(
	[NationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 2019/12/22 6:56:58 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[T_TeachersStudentRelations]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 2019/12/22 6:56:58 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[T_TeachersStudentRelations]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_Students]  WITH CHECK ADD  CONSTRAINT [FK_T_Students_T_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[T_Classes] ([Id])
GO
ALTER TABLE [dbo].[T_Students] CHECK CONSTRAINT [FK_T_Students_T_Classes]
GO
ALTER TABLE [dbo].[T_Students_008]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Students_008_dbo.T_Classes_008_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[T_Classes_008] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_Students_008] CHECK CONSTRAINT [FK_dbo.T_Students_008_dbo.T_Classes_008_ClassId]
GO
ALTER TABLE [dbo].[T_Students_008]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_Students_008_dbo.T_Nations_008_NationId] FOREIGN KEY([NationId])
REFERENCES [dbo].[T_Nations_008] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_Students_008] CHECK CONSTRAINT [FK_dbo.T_Students_008_dbo.T_Nations_008_NationId]
GO
ALTER TABLE [dbo].[T_TeachersStudentRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_TeachersStudentRelations_dbo.T_Students2_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[T_Students2] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_TeachersStudentRelations] CHECK CONSTRAINT [FK_dbo.T_TeachersStudentRelations_dbo.T_Students2_StudentId]
GO
ALTER TABLE [dbo].[T_TeachersStudentRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.T_TeachersStudentRelations_dbo.T_Teachers2_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[T_Teachers2] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[T_TeachersStudentRelations] CHECK CONSTRAINT [FK_dbo.T_TeachersStudentRelations_dbo.T_Teachers2_TeacherId]
GO
USE [master]
GO
