@using SchoolDTO@*我们可以把这个常用的命名空间添加在View/web.config*@
@model IEnumerable<StudentDTO>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>学生表</title>
</head>
<body>
    <a href="~/Student/AddNew ">添加新学生</a>
    <table>
        <thead><tr><th>姓名</th><th>年龄</th><th>班级</th><th>民族</th><th>删除</th></tr></thead>
        <tbody>
            @foreach (StudentDTO stu in Model)
            {
                <tr>
                    <td>@stu.Name</td>
                    <td>@stu.Age</td>
                    <td>@stu.ClassName </td>
                    <td>@stu.NationName</td>
               <td><a href="~/Student/Delete?id=@stu.Id" onclick="return confirm('是否要删除@(stu.Name)')">删除</a></td>
                
            </tr>
            }
        </tbody>
    </table>
    <div>
    </div>
</body>
</html>
