@model _008EFDTO.StudentDTO
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Retrieve2</title>
</head>
<body>
    <div> 
        @Model.Name +@Model.ClassName 
    </div>
</body>
</html>
